html
  head
    title MovieJS
    style
      include ./css/style.css

  body
    video(controls='' width='100%')
      source(src=title type='video/mp4')
      track(label='English' kind='subtitles' srclang='en' src=subs default='')
      |     Sorry, your browser doesn't support embedded videos.
    