html
	head
		title MovieJS
		link(rel='preconnect' href='https://fonts.gstatic.com')
		link(href='https://fonts.googleapis.com/css2?family=Open+Sans&display=swap' rel='stylesheet')
		link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
		link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js')

		style
			include ./css/style.css

		script
			include ./js/script.js

	body
		.movies
			each movie in movies
				.movie
					//- a(href='http://localhost:5000/movie/'+movie.filename)
					img(src=movie.img onclick='modal("'+movie.title+","+movie.img+","+movie.description+'")')

		.blur(onclick='modal()')
		.modal