html
  head
    title MovieJS
    style
      include ./css/style.css

    script
      include ./js/script.js

  body(onload='toudoum()')
    video(controls autoplay)
      source(src=title type='video/mp4')
      track(label='English' kind='subtitles' srclang='en' src=subtitles default='')
      |     Sorry, your browser doesn't support embedded videos.
    