* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: black;
  width: 100%;
}

.movies {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: line;
  flex-wrap: wrap;
  background-color: black;
  width: 94%;
  margin-left: 3%;
  margin-top: 20px;

}

.movie {
  width: calc(20% - 20px);
  margin: 10px;
}

.movie:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.movie img {
  width: 100%;
}