* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
}

body {
  background-color: black;
  width: 100%;
}

.movies {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: line;
  flex-wrap: wrap;
  background-color: black;
  width: 94%;
  margin-left: 3%;
  margin-top: 20px;

}

.movie {
  transform: scale(1);
  transition: 0.3s;
  width: calc(20% - 20px);
  margin: 10px;
}

.movie:hover {
  transform: scale(0.9);
  transition: 0.3s;
}

.movie img {
  width: 100%;
}

video {
  margin-top: 80px;
  width: 100%;
  height: calc(100% - 160px);
}

.blur {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: black;
  opacity: 0.6;
  display: block;
  visibility: hidden;
}

.modal {
  left: 10%;
  top: 10%;
  width: 80%;
  height: 80%;
  position: fixed;
  background-color: black;
  display: block;
  visibility: hidden;
}

/* ------------------------------ scrollbar ------------------------------ */


/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c0392b;
  border-radius: 8px;
}